<launch>
  <node pkg="proyectoFinal" type="nodoPrincipal.py" name="nodo_principal"/>
  <node pkg="proyectoFinal" type="nodoControl.py" name="nodo_control"/>
  <node pkg="proyectoFinal" type="nodoOdometria.py" name="nodo_odometria"/>
  <node pkg="proyectoFinal" type="nodoContrasena.py" name="nodo_contrasena"/>
</launch>
