<launch>
  <node pkg="proyectoFinal" type="nodoPrincipal.py" name="nodo_principal"/>
  <node pkg="proyectoFinal" type="nodoOdometria.py" name="nodo_odometria"/>
  <node pkg="proyectoFinal" type="nodoContrasena.py" name="nodo_contrasena"/>
  <node pkg="proyectoFinal" type="nodoControlEncoder.py" name="nodo_control_encoder"/>
  <node pkg="proyectoFinal" type="nodoLeds.py" name="nodo_estados"/>
</launch>
